---
import { ClientRouter } from "astro:transitions";
import BackgroundGlow from "../components/BackgroundGlow.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MouseGlow from "../components/MouseGlow.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexis Dev | Portfolio</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen text-white relative flex flex-col">
    <BackgroundGlow />
    <MouseGlow />
    <Header />
    <div class="relative z-10 grow">
      <slot />
    </div>
    <div class="relative z-20">
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
